.contacts-list {
  display: flex;
  margin-left: auto;

  @include font(14px, 500, 1.14, 0.02em);

  a {
    color: var(--second-header-color);
    transition: color 250ms var(--animation);
  }
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;

  .contacts-list &:hover,
  .contacts-list &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--second-header-color);
  transition: fill 250ms var(--animation);

  .contacts-list a:hover &,
  .contacts-list a:focus & {
    fill: var(--accent-color);
  }
}
