.subscribe {
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__mail {
  width: 358px;
  height: 50px;
  padding-top: 0;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--second-footer-color);
  background-color: transparent;
}

.subscribe-form__mail::placeholder {
  @include font(16px, 400, 1.25, 0.03em);

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
}

.subscribe-form__icon {
  vertical-align: middle;
  margin-left: 10px;

  fill: #ffffff;
}
