.section-title {
  // margin-bottom: 50px;
  margin-bottom: 30px;
  // @include font(36px, 700, 1.16, 0.03em);
  @include font(28px, 700, 1.18, 0.03em);

  text-align: center;
  color: var(--main-title-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include font(36px, 700, 1.16, 0.03em);
  }
}
