:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --main-header-color: #212121;
  --second-header-color: #757575;
  --main-btn-color: #212121;
  --second-btn-color: #ffffff;
  --main-footer-color: rgba(255, 255, 255, 0.6);
  --second-footer-color: #ffffff;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}
